/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.form {
  display: flex;
  justify-content: center;
  padding: 36px 0;
  gap: 8px;
  align-items: baseline;
}

.form input {
  width: 272px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

.form button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  border: none;
  background-color: #4e75ff;
  display: flex;
  justify-content: center;

  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

button:hover {
  background-color: #6c8cff;
}

.gallery-item {
  width: 360px;
  border: 1px solid #808080;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: 152px;
  object-fit: cover;
  display: block;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding: 0 156px;
  justify-content: center;
}

.info {
  height: 40px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 25px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;

  list-style: none;
  margin: 0;
}

.info li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.loader {
  display: none;
  margin-top: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
}

.loader.visible {
  display: block;
}

.load-more-btn {
  display: block;
  margin: 32px auto;

  border-radius: 8px;
  padding: 8px 16px;
  border: none;
  background-color: #4e75ff;
  display: flex;
  justify-content: center;

  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.load-more-btn:hover {
  background-color: #6c8cff;
}
